In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"D:\Ausaaf\ALLIMPORTS\spotify_millsongdata.csv")

In [3]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57650 entries, 0 to 57649
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   artist  57650 non-null  object
 1   song    57650 non-null  object
 2   link    57650 non-null  object
 3   text    57650 non-null  object
dtypes: object(4)
memory usage: 1.8+ MB

In [6]:
df =df.sample(30000).drop('link', axis=1).reset_index(drop=True)

In [7]:
df

,artist,song,text
0,Venom,Shadow King,The world we live in is silent lucid liquid ch...
1,Zayn Malik,Blue,[Verse 1] \r\nIn the clouds where the angels ...
2,Elvis Presley,Hearts Of Stone,Hearts made of stone will never brake \r\n'Ca...
3,Ingrid Michaelson,One Night Town,Living up while we're going down \r\nEverythi...
4,Allman Brothers Band,Spoonful,By Willie Dickson \r\n \r\nCould be spoonful...
...,...,...,...
29995,Pitbull,Wild Wild Love,This wild wild love of ours \r\nIt can't be t...
29996,Olly Murs,Heart On My Sleeve,You think you've heard this before \r\nI'll t...
29997,Mary Black,Farewell Farewell,"Farewell, farewell to you who would hear \r\n..."
29998,Hillsong United,All About You,"Hear our praises, \r\nHear Your people sing ..."
29999,Jimi Hendrix,Little Miss Strange,No one knows where she comes from \r\nMaybe s...

In [8]:
df['text'][0]

"The world we live in is silent lucid liquid change  \r\nThe king appears well afraid aware in all his rage  \r\nHe seeks to tell in unseen terror about poer life and lust  \r\nThe rising power of Baphomet is all that he can trust ah  \r\nHell on earth sadistic birth hell on earth  \r\nGod bless all who sail in her this ship he built with fright  \r\nPleasant in his infamy it sails into the night ah  \r\nHell on earth sadistic birth hell on earth  \r\nReasoning decay decides to plague the nurtured home  \r\nRedesign Colombus Isle where only kings will roam  \r\nThe spirit lies in all we see and all that we can touch  \r\nHe found the place where gods reside destroyed into the ancient dust ah  \r\nHell on earth sadistic birth hell on earth  \r\nGod bless all who sail in her this ship he built with fright  \r\nPleasant in his infamy with cold and blistered sight ah  \r\nHell on earth sadistic birth hell on earth hell on earth  \r\nThe afterlife that mark the moons of distant silent stars  \r\nSo on the quest the king is served golden in his light  \r\nHell on earth sadistic birth hell on earth  \r\nRevealing yellowed manuscript in the shadow of the king  \r\nWritten here in pages old the secrets of this thing  \r\nImagination hanging by the lucid threads he claims  \r\nWhere all around damnations lie they're locked inside his fevered brain  \r\nHell on earth sadistic birth hell on earth  \r\nGod bless all who sail in her this ship he built with fright  \r\nPleasant in his infamy it sails into the night ah  \r\nHell on earth sadistic birth hell on earth hell on earth  \r\n  \r\n  \r\n\r\n"

In [9]:
df['text'] = df['text'].str.replace(r'\r\n', ' ', regex=True).str.lower()

In [10]:
df['text'][0]

"the world we live in is silent lucid liquid change   the king appears well afraid aware in all his rage   he seeks to tell in unseen terror about poer life and lust   the rising power of baphomet is all that he can trust ah   hell on earth sadistic birth hell on earth   god bless all who sail in her this ship he built with fright   pleasant in his infamy it sails into the night ah   hell on earth sadistic birth hell on earth   reasoning decay decides to plague the nurtured home   redesign colombus isle where only kings will roam   the spirit lies in all we see and all that we can touch   he found the place where gods reside destroyed into the ancient dust ah   hell on earth sadistic birth hell on earth   god bless all who sail in her this ship he built with fright   pleasant in his infamy with cold and blistered sight ah   hell on earth sadistic birth hell on earth hell on earth   the afterlife that mark the moons of distant silent stars   so on the quest the king is served golden in his light   hell on earth sadistic birth hell on earth   revealing yellowed manuscript in the shadow of the king   written here in pages old the secrets of this thing   imagination hanging by the lucid threads he claims   where all around damnations lie they're locked inside his fevered brain   hell on earth sadistic birth hell on earth   god bless all who sail in her this ship he built with fright   pleasant in his infamy it sails into the night ah   hell on earth sadistic birth hell on earth hell on earth          "

In [11]:
import nltk
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Sneha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [12]:
stemmer = PorterStemmer()

In [13]:
def tokenize_and_stem(text):
    tokens = word_tokenize(text)  
    stemmed_tokens = [stemmer.stem(word) for word in tokens]
    return " ".join(stemmed_tokens)

In [14]:
print(tokenize_and_stem('you are beautiful,beauty'))

you are beauti , beauti

In [15]:
df['text'].apply(lambda x: tokenize_and_stem(x))

0        the world we live in is silent lucid liquid ch...
1        [ vers 1 ] in the cloud where the angel sing i...
2        heart made of stone will never brake 'caus the...
3        live up while we 're go down everyth that we d...
4        by willi dickson could be spoon of diamond cou...
                               ...
29995    thi wild wild love of our it ca n't be tame , ...
29996    you think you 've heard thi befor i 'll tri to...
29997    farewel , farewel to you who would hear you lo...
29998    hear our prais , hear your peopl sing hear our...
29999    no one know where she come from mayb she 's a ...
Name: text, Length: 30000, dtype: object

In [16]:
df['text'][0]

"the world we live in is silent lucid liquid change   the king appears well afraid aware in all his rage   he seeks to tell in unseen terror about poer life and lust   the rising power of baphomet is all that he can trust ah   hell on earth sadistic birth hell on earth   god bless all who sail in her this ship he built with fright   pleasant in his infamy it sails into the night ah   hell on earth sadistic birth hell on earth   reasoning decay decides to plague the nurtured home   redesign colombus isle where only kings will roam   the spirit lies in all we see and all that we can touch   he found the place where gods reside destroyed into the ancient dust ah   hell on earth sadistic birth hell on earth   god bless all who sail in her this ship he built with fright   pleasant in his infamy with cold and blistered sight ah   hell on earth sadistic birth hell on earth hell on earth   the afterlife that mark the moons of distant silent stars   so on the quest the king is served golden in his light   hell on earth sadistic birth hell on earth   revealing yellowed manuscript in the shadow of the king   written here in pages old the secrets of this thing   imagination hanging by the lucid threads he claims   where all around damnations lie they're locked inside his fevered brain   hell on earth sadistic birth hell on earth   god bless all who sail in her this ship he built with fright   pleasant in his infamy it sails into the night ah   hell on earth sadistic birth hell on earth hell on earth          "

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [18]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [19]:
similarity[0]

array([1.        , 0.        , 0.        , ..., 0.00799175, 0.03315121,
       0.00330793])

In [20]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similarity[idx])),reverse=True, key=lambda x:x[1])
    song=[]
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [22]:
recommender('Blue')

['Call Me', 'All You Need Is Love', 'Need Her Love', 'Hawkmoon 269']

In [ ]:
recommender('I Gotta Get Drunk')

In [ ]:
df[df['song']=='Drunk']

In [23]:
df[df['artist']=='Ed Sheeran']

,artist,song,text
2142,Ed Sheeran,She,i paid all my dues and she wanted to know ...
2149,Ed Sheeran,A Team,"white lips, pale face breathing in snowflake..."
2562,Ed Sheeran,The City,this city never sleeps i hear the people wal...
3793,Ed Sheeran,Heaven,"will you recognise me, in the flashing lights ..."
4838,Ed Sheeran,These Dreams,i keep my hopes and dreams inside of you among...
7736,Ed Sheeran,Let It Out,you give me life like lots of oxygen you tre...
9239,Ed Sheeran,Nina,i met you when i was a teen but then you were ...
9648,Ed Sheeran,Kiss Me,settle down with me cover me up cuddle me ...
10815,Ed Sheeran,Blind Faith,"i am a man with a heavy heart, and i dare no..."
10819,Ed Sheeran,Cold Coffee,she's like cold coffee in the morning i'm dr...
11665,Ed Sheeran,Autumn Leaves,another day another life passes by just like...
14198,Ed Sheeran,Don't,ah lahmlahlah ah lahmlahlah [verse 1:] ...
16708,Ed Sheeran,You,these thoughts i have could be clear ones and ...
19608,Ed Sheeran,Thinking Out Loud,[verse 1] when your legs don't work like the...
20682,Ed Sheeran,UNI,i found your hairband on my bedroom floor th...
23424,Ed Sheeran,Wayfaring Stranger,"i am a poor, wayfaring stranger traveling th..."
23891,Ed Sheeran,This,this is the start of something beautiful thi...
24073,Ed Sheeran,Lego House,i'm gonna pick up the pieces and build a leg...
25193,Ed Sheeran,Runaway,i've known it for a long time daddy wakes up...
26520,Ed Sheeran,Be Like You,unhappy days that left us on the floor and y...
26933,Ed Sheeran,Faces,faces change but this place'll stay the same...
29373,Ed Sheeran,Firefly,i fell in love next to you burning fires in ...

In [24]:
recommender('Photograph')

['Cast The Spirit',
 'A Young Man Is Gone',
 'Forever You Will Be Mine',
 "We'll Be Alright"]

In [26]:
import pickle

In [27]:
pickle.dump(similarity, open('similarity','wb'))

In [28]:
pickle.dump(df, open('df','wb'))